<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div>
    <div class="header">
        <h1>My Store</h1>
        <ul>
            <li><a href="/" style="color: orange; font-size: 15px">Home</a></li>
            <li><a href="/products" style="color: orange;font-size: 15px">Products</a></li>
            <li><a href="/users" style="color: orange; font-size: 15px">Users</a></li>
            <% if (currentUser) { %>
            <li><a href="/logout" style="color: orange;font-size: 15px">Logout (<%= currentUser.name %>)</a></li>
            <% } else { %>
            <li><a href="/login" style="color: orange;font-size: 15px">Login</a></li>
            <li><a href="/register" style="color: orange;font-size: 15px">Register</a></li>
            <% } %>
        </ul>
    </div><br>
    <div ><%- body %></div>
    <div class="footer">&copy; 2026. All rights reserved.</div>
    </div>
</body>
</html>