<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="page-shell">
        <div class="header">
            <h1>My Store - Admin Panel</h1>
            <ul>
              <li><a href="/" style="color: rgb(132, 4, 115); font-size: 15px">Home</a></li>
                <% if (user) { %>
              <li><a href="/products" style="color:rgb(132, 4, 115); font-size: 15px">Products</a></li>
              <li><a href="/users" style="color: rgb(132, 4, 115); font-size: 15px">Users</a></li>
               <li><a href="/auth/logout" style="color: rgb(132, 4, 115); font-size: 15px">Logout</a></li>
                <% } else { %>
              <li><a href="/auth/login" style="color: rgb(132, 4, 115); font-size: 15px">Login</a></li>
                <% } %>
               
            </ul>
        </div>
        <div class="page-content"><%- body %></div>
        <div class="footer">&copy; 2026. All rights reserved.</div>
    </div>
  </body>
</html>

