<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Add Product Form</h2><br><br>
    <form action="/products/add" method="POST">
        <p><input type="text" name="name" placeholder="Product Name" required></p>
        <p><input type="number" name="price" placeholder="Price" step="0.01" required></p>
        <p><input type="text" name="imageUrl" placeholder="Image URL"></p>
        <p><textarea name="desc" placeholder="Description"></textarea></p>
        <button type="submit">Add Product</button><br><br>
    </form>
</body>
</html>